@model JONMVC.Website.ViewModels.Views.DiamondSearchViewModel
@{
    ViewBag.Title = "Search Round Loose Diamonds at JewelryONet.com, Diamond Search Tool.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() { new KeyValuePair<string, string>("Diamond Search", "") })
}
@section DiamondsMenu {
    <li class="redarrow">
        @Html.ActionLink("Diamonds", "Diamonds", "Departments")
        <div class="submenu top5">
            <ul>
                <li>@Html.ActionLink("Diamond Search", "DiamondSearch", "JewelDesign")</li>
                <li>@Html.ActionLink("GIA Certified Diamonds", "DiamondSearch", "JewelDesign", new RouteValueDictionary() { { "Report", "GIA" } }, null)</li>
            </ul>
        </div>
    </li>
}
@Html.Partial("Tabs", Model.TabsForJewelDesignNavigation)
<div class="jewel-main">
    <div class="table width100">
        <div class="row">
            <div class="cell">
            <span>Use the buttons below to select your desired diamond shape, color, clarity and cut.<br />To find diamonds in your price range and carat weight, drag the sliders or enter a range manually in the input boxes.</span>
                <div class="diamond-search-container padding5 rounded5">
                    <h2 class="redbold">
                        Diamond search</h2>
                    <div class="table refine">
                        <div class="row" style="height: 35px">
                            <div class="cell label">
                                Shape:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="Diamonds come in many different shapes. Choose one of the following shapes:
Round, Princess, Emerald, Asscher, Marquise, Radiant, Oval, Heart, Cushion, Pear." tooltip-title="Shape"/>
                            </div>
                            <div class="cell shape-buttons">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="sprite-shape">
                                    <tr>
                                        <td class="shape1 off" filter="shape" key="Round" title="Round">
                                            &nbsp;
                                        </td>
                                        <td class="shape2 off" filter="shape" key="Princess" title="Princess">
                                            &nbsp;
                                        </td>
                                        <td class="shape3 off" filter="shape" key="Emerald" title="Emerald">
                                            &nbsp;
                                        </td>
                                        <td class="shape4 off" filter="shape" key="Asscher" title=" Asscher">
                                            &nbsp;
                                        </td>
                                        <td class="shape5 off" filter="shape" key="Oval" title="Oval">
                                            &nbsp;
                                        </td>
                                        <td class="shape6 off" filter="shape" key="Pear" title="Pear">
                                            &nbsp;
                                        </td>
                                        <td class="shape7 off" filter="shape" key="Radiant" title="Radiant">
                                            &nbsp;
                                        </td>
                                        <td class="shape8 off" filter="shape" key="Heart" title="Heart">
                                            &nbsp;
                                        </td>
                                        <td class="shape9 off" filter="shape" key="Marquise" title="Marquise">
                                            &nbsp;
                                        </td>
                                        <td class="shape10 off" filter="shape" key="Cushion" title="Cushion">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Cut:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="A good cut is essential to a diamond's beauty, because even a diamond with outstanding color and clarity will not display the sparkle that diamonds are famous for if its components don't interact with light as they should. We recommend selecting the highest cut grade within your budget. The reason is simple: of the Four Cs, no other characteristic has a greater influence on a diamond's appearance."/>
                            </div>
                            <div class="cell cut-buttons">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="cut" key="EX">
                                            Excellent
                                        </td>
                                        <td class="off" filter="cut" key="VG">
                                            Very Good
                                        </td>
                                        <td class="off" filter="cut" key="GVG">
                                            Good to V.Good
                                        </td>
                                        <td class="off" filter="cut" key="G">
                                            Good
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell label">
                                Color:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="The average color for engagement diamonds is G to H. The next popular group is I-J because they are more affordable. Some people even prefer heavily colored stones because they are more unique in engagement settings. A diamond's color grade affects its price, but it isn't the most important diamond characteristic to consider before purchasing a diamond. If your budget prevents you from buying a D through F graded diamond it does not mean you can't own a beautiful gemstone. Diamond grades G through J can be fine gems and other grades may be perfectly suitable." />
                            </div>
                            <div class="cell color-clarity">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="color" key="D">
                                            D
                                        </td>
                                        <td class="off" filter="color" key="E">
                                            E
                                        </td>
                                        <td class="off" filter="color" key="F">
                                            F
                                        </td>
                                        <td class="off" filter="color" key="G">
                                            G
                                        </td>
                                        <td class="off" filter="color" key="H">
                                            H
                                        </td>
                                        <td class="off" filter="color" key="I">
                                            I
                                        </td>
                                        <td class="off" filter="color" key="J">
                                            J
                                        </td>
                                        <td class="off" filter="color" key="K">
                                            K
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Carat:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="Carat is the term used to express the weight of a diamond, with one carat equaling 200 milligrams of actual weight. The weight of smaller diamonds is often expressed as points, not carats. There are 100 points in a carat. Another way to look at it is to say that each point equals 0.01, or one-hundredth, of a carat. Larger diamonds are rarer and in more demand than smaller diamonds of the same quality, so they can be sold for a higher price. A one carat diamond solitaire ring is nearly always more expensive than a diamond ring made up of multiple diamonds that are similar, but smaller, even though they total one carat or more." />
                            </div>
                            <div class="cell slider-row">
                                <div id="SliderCarat">
                                </div>
                                <input type="hidden" class="on" id="carat1" value="0.5" />
                                <input type="hidden" class="on" id="carat2" value="1.5" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell label">
                                Clarity:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="Diamond clarity is critical for engagement rings; most stones have various types of flaws.  Diamonds are graded for clarity under 10x loupe magnification. Grades range from Internally Flawless diamonds that are completely free of blemishes to Imperfect 3 diamonds that possess large, heavy defects visible to the naked eye; we don’t sell or trade with I-3 diamonds. The most common clarity grading are VS2, SI1 and SI2. These stones are in the middle of the scale for flaws - not totally flawless and yet not having lot of flaws. That makes them affordable for many, and depending on the cut and setting of the stone, many of the flaws may not be noticeable." />
                            </div>
                            <div class="cell color-clarity">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="clarity" key="IF">
                                            IF
                                        </td>
                                        <td class="off" filter="clarity" key="VVS1">
                                            VVS1
                                        </td>
                                        <td class="off" filter="clarity" key="VVS2">
                                            VVS2
                                        </td>
                                        <td class="off" filter="clarity" key="VS1">
                                            VS1
                                        </td>
                                        <td class="off" filter="clarity" key="VS2">
                                            VS2
                                        </td>
                                        <td class="off" filter="clarity" key="SI1">
                                            SI1
                                        </td>
                                        <td class="off" filter="clarity" key="SI2">
                                            SI2
                                        </td>
                                        <td class="off" filter="clarity" key="I1">
                                            I1
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Price:
                                <img src="/Content/images/jeweldesign/refine/gen/info-mark.png" tooltip="Use the slider to narrow the price range that fits your budget." />
                            </div>
                            <div class="cell slider-row">
                                <div id="SliderPrice">
                                </div>
                                <input type="hidden" class="on" id="price1" value="2000" />
                                <input type="hidden" class="on" id="price2" value="5000" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell diamond-list-container" style="padding-top: 20px;">
                <table id="DiamondList">
                </table>
                <div id="DiamondPager">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>
        Tips for choosing the Right Diamond</h1>
    <h2>
        How big to buy?</h2>
    <p>
        For many women, a diamond&rsquo;s size should be determined by her hand.<br />
        Some people believe that the bigger the size, the better the diamond. The size you
        purchase should be a factor not only of your budget, but also of the preferences
        of your fiancé.<br />
        The other Cs - Clarity, Color and Cut - also influence a diamond&rsquo;s price.
        A large stone looks out of place on a petite hand, whereas a tiny stone may be lost
        or insignificant on a larger finger.
        <br />
        The stone&rsquo;s shape should also be proportioned to the hand, which may allow
        a smaller carat weight to look lovelier than a large stone with an improper shape.</p>
    <h2>
        Which Clarity Should I Purchase?</h2>
    <p>
        Diamond clarity is critical for engagement rings; most stones have various types
        of flaws.
        <br />
        Inclusions are additional minerals that may cause a streak or stripe through the
        stone, and fractures are miniscule cracks and splits that look like tiny crystals,
        clouds or feathers. Clarity is the scale of perfection established by the Gemological
        Institute of America (GIA) that measures the number and magnitude of flaws in a
        diamond. Diamonds are graded for clarity under 10x loupe magnification. Grades range
        from Internally Flawless diamonds that are completely free of blemishes to Imperfect
        3 diamonds that possess large, heavy defects visible to the naked eye; we don&rsquo;t
        sell or trade with I-3 diamonds.<br />
        The most common clarity grading are VS2, SI1 and SI2. These stones are in the middle
        of the scale for flaws - not totally flawless and yet not having lot of flaws. That
        makes them affordable for many, and depending on the cut and setting of the stone,
        many of the flaws may not be noticeable.</p>
    <h2>
        Which Color Should I Purchase?</h2>
    <p>
        Many people may not notice slight shades of color, and lower grade stones are less
        expensive even when the difference isn&rsquo;t immediately noticeable. The average
        color for engagement diamonds is G to H. The next popular group is I-J because they
        are more affordable. Some people even prefer heavily colored stones because they
        are more unique in engagement settings.<br />
        A diamond's color grade affects its price, but it isn't the most important diamond
        characteristic to consider before purchasing a diamond. If your budget prevents
        you from buying a D through F graded diamond it does not mean you can't own a beautiful
        gemstone. Diamond grades G through J can be fine gems and other grades may be perfectly
        suitable. We will be glad to help you evaluate and select the best diamond for your
        needs.</p>
</div>
<div class="diamond-info-hover rounded5">
    <img class="tip" src="/Content/images/jeweldesign/refine/gen/tip.png" />
    <h2 class="redbold">
        Diamond Details</h2>
    <table>
        <tr key="diamondid">
            <td>
                Item number:
            </td>
            <td>
            </td>
        </tr>
        <tr key="depth">
            <td>
                Depth:
            </td>
            <td>
            </td>
        </tr>
        <tr key="table">
            <td>
                Table:
            </td>
            <td>
            </td>
        </tr>
        <tr key="girdle">
            <td>
                Girdle:
            </td>
            <td>
            </td>
        </tr>
        <tr key="symmetry">
            <td>
                Symmetry:
            </td>
            <td>
            </td>
        </tr>
        <tr key="polish">
            <td>
                Polish:
            </td>
            <td>
            </td>
        </tr>
        <tr key="culet">
            <td>
                Culet:
            </td>
            <td>
            </td>
        </tr>
        <tr key="fluorescence">
            <td>
                Fluorescence:
            </td>
            <td>
            </td>
        </tr>
        <tr key="dimensions">
            <td>
                Dimensions:
            </td>
            <td>
            </td>
        </tr>
        <tr key="report">
            <td>
                Certificate:
            </td>
            <td>
            </td>
        </tr>
        <tr key="reportnumber">
            <td>
                Certificate #:
            </td>
            <td>
            </td>
        </tr>
        <tr key="price">
            <td>
                Price:
            </td>
            <td>
            </td>
        </tr>
    </table>
    <input type="button" class="blue-button top20" value="View Details" />
    <input type="button" class="button top10" value="Add To Ring" />
</div>
<script type="text/javascript">

	   $(document).ready(function() {
	       JewelDesign.Locals.DataFromController = @Html.Raw(Json.Encode(Model.JSONClientScriptInitializer)) ;
	       JewelDesign.InitDiamondSearch();

	       $('td[title]').qtip({
	               position: { adjust: { x: -20, y: -60 } },
	               style: {
	                   name: 'light',

	                   border: {
	                       radius: 3,
	                       color: '#87281d'
	                   },
	                   width: 100,
	                   padding: 3,
	                   background: '#87281d',
	                   color: 'white',
	                   textAlign: 'center',

	                   tip: {
	                       corner: 'bottomLeft',
	                       color: '#87281d',
	                       size: {
	                           x: 4,
	                           y: 4
	                       }

	                   }
	               }

	           });

	       $('.jewel-main img[tooltip]').each(function()
	           {
	           $(this).qtip({
	                   content: {
	                       title: {
	                           text: false,
	                           button: false
	                       },
	                       text: $(this).attr('tooltip')
	                   },

	                   show: {
	                       when: 'click', // Show it on click
	                       solo: true // And hide all other tooltips
	                   },
	                   hide: { when: { event: 'unfocus' }, delay: 500 },

	                   style: {

	                       name: 'light',

	                       border: {
	                           radius: 8,
	                           color: '#87281d'
	                       },
	                       width: 300,
	                       padding: 12,
	                       background: '#87281d',
	                       color: 'white',
	                       textAlign: 'justify',

	                       tip: {
	                           corner: 'topLeft',
	                           color: '#87281d',
	                           size: {
	                               x: 4,
	                               y: 4
	                           }

	                       }
	                   }

	               });
	       });

	   });


</script>
