@using JONMVC.Website.Extensions 
@using JONMVC.Website.ViewModels.Views 
@using MvcContrib.FluentHtml

@inherits ModelWebViewPage<SettingViewModel>
@{
    ViewBag.Title = @Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", Model.PathBarItems)
}
@Html.Partial("Tabs", Model.TabsForJewelDesignNavigation)
<div class="table" id="ItemBlock">
    <div class="row">
        <div class="cell media">
            @Html.prettyPhotoSingleImage(Model.MainJewelPicture)
            <div class="relativepositiner">
                @if (Model.HasMovie)
                { 
                    <div class="dview block">
                        <img src="/Content/images/item/skeleton/3d-view.png" movie="@Model.Movie" alt="3D Movie" />
                        <span>3D View</span>
                    </div>
                }
            </div>
            <div class="relativepositiner">
                <div class="zoom block">
                    <a href="@Model.HiResJewelPicture.LargePhoto" rel="prettyPhoto" title="@Model.Title">
                        <img src="/Content/images/item/skeleton/loopa.png"  alt="@Model.Title"/>
                    </a><span>Zoom</span>
                </div>
            </div>
        </div>
        <div class="cell info">
            <div class="table">
                <div class="row">
                    <div class="cell item-description">
                        @Model.Title
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        
                        <div class="fb-like" data-send="false" data-width="350" data-show-faces="false" data-action="recommend"
                            data-font="tahoma" style="min-height: 35px;">
                        </div>
                        @Html.Partial("RingSize", new RingSizePartialViewModel { JewelType = @Model.JewelType, Selected = Model.JewelPersistence.Size, Class = "jewelsize", SelectName = "size" })
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div id="MetalPanel">
                                <span class="redbold">Choose gold type:</span>
                                <div class="metalpricecombo top10 left" itemid="@Model.ID">
                                    <input type="hidden" name="metal" value="wg" />
                                </div>
                            </div>
                        <div class="clear">
                        </div>
                        <span class="redbold bold">*Ring doesn’t include center diamond</span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell" style="padding-top: 3px">
                        <div class="cell buy-menu" style="padding-top: 3px">
                            @using (Html.BeginForm("RedirectSetting", "JewelDesign", FormMethod.Post, new { id = "RedirectSettingForm" }))
                            {
                                @this.Hidden("DiamondID").Value(Model.JewelPersistence.DiamondID)
                                @this.Hidden("SettingID").Value(Model.ID)
                                @this.Hidden("MediaType").Value(Model.JewelPersistence.MediaType)
                                @this.Hidden("Size").Value("7")
                                @this.Hidden("CommandID").Value(1)

                                if (Model.JewelPersistence.DiamondID > 0)
                                 {
                                 <a href="#!" command="end">
                                     <img src="/Content/images/jeweldesign/setting/select-this-ring.png" class="hand"/>
                                     <input type="hidden" value="@Model.ID " name="itemid" /></a>
                                 }
                                 else
                                 {
                                     <a href="#!" command="choose-diamond">
                                         <img src="/Content/images/jeweldesign/setting/select-this-ring.png" class="hand"/>
                                     </a>
                                     <input type="hidden" value="@Model.ID " name="itemid" />
                                    
                                     <ul class="actions" >
                                         <li>
                                    
                                  
                                        
                                    
                                    
                                             <a href="#!" command="choose-diamond">and Choose a Diamond</a>
                                    
                                         </li>
                                         <li><a href="#!" command="buy-setting">Buy this Setting without a Center Diamond</a> </li>
                                
                                     </ul>
                                 }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div class="block thumbs">
                @foreach (var pic in Model.ExtraImages)
                {
                    @Html.prettyPhotoPictureGallery(pic, "gal");
                }
            </div>
        </div>
       <div class="cell operations">
            <div class="left">
                
                <a href="#EmailRing" command="emailring" class="boxy" title="Email this ring"><img src="/Content/images/item/skeleton/email.png" />E-mail</a>
            </div>
            <div class="left">
                
                <a href="#!" command="print"><img src="/Content/images/item/skeleton/print.png" />Print</a>
            </div>
            <div class="left">
                
                <a href="#!" command="addtowishlist"><img src="/Content/images/item/skeleton/wishlist.png" />Add to Wishlist</a>
            </div>
        </div>
    </div>
</div>
<div class="block grayblock">
    <div class="title">
        Product Details</div>
    <div class="table width100">
        <div class="row">
            <div class="cell leftspecs">
                @Html.Partial("JewelItemBaseInfoTable", Model)
                <div class="block price">
                    <span class="inline">Price: </span><span class="inline">@Model.Price</span>
                </div>
                @*                <div class="block story justify">*@ @*                    Future reference to a story via code*@
                @*                </div>*@
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="top5 infotable">
                    <tr>
                        <td colspan="2">
                            Can be set With:
                        </td>
                    </tr>
                    <tr class="info" style="padding-bottom: 5px;">
                        <td>
                            Shape:
                        </td>
                        <td align="center" style="padding-bottom: 5px;">
                            Carat Range:
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Round:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Princess:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Asscher:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Emerald:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Oval:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Heart:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Marquise:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Radiant:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            Pear:
                        </td>
                        <td align="center">
                            0.25 - 4.00
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cell rightspecs">
                @if (Model.HasSideStones)
                {
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="infotable">
                        <tr>
                            <td colspan="2" class="title">
                                Side stone(s) information:
                            </td>
                        </tr>
                        @foreach (var infopart in Model.SpecsPool.Where(f => f.JewelComponentID == 2))
                        {
                            @Html.InfoPart(infopart)    
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<div class="block grayblock">
    <div class="title">
        Testimonials</div>
    <div class="table width100">
        <div class="row">
            @Html.Partial("Testamonials", Model.Testimonials)
            @Html.Partial("OrderWithConfidence")
        </div>
    </div>
</div>
<div class="block grayblock">
    <div class="title">
        Shipping Information</div>
    <div class="table width100">
        <div class="row">
            <div class="cell">
                @Html.Partial("ShippingInformation")
            </div>
        </div>
    </div>
</div>
@Html.Partial("EmailRing", Model.ID)
@section FacebookHeaderTabs {
    @Html.Partial("FacebookHeaders", Model)
}
<script type="text/javascript">
    $(document).ready(function () {
        
        Item.Locals.id = @Model.ID ;
		Item.RegisterPageCommends();
        
        MetalPriceSelect.RegisterMetalPriceSelectForJewelryItems();

        $("a[rel^='prettyPhoto']").prettyPhoto();
     //   JewelDesign.RegisterJewelDesignPagesDropDownMenu();
        JewelDesign.RegisterSettingCommandLinks();

        Video.RegisterHooks();


    })

</script>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
