@using JONMVC.Website.ViewModels.Views
@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<MyAccountViewModel>
@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="rounded-white-container padding10">
    <h3>
        My Orders</h3>
    @if (Model.Orders.Count > 0)
    { 
        <div class="table">
            <div class="row" style="height: 20px">
                <div class="cell" style="width: 100px">
                    <span class="redbold bold">Order number</span>
                </div>
                <div class="cell" style="width: 100px">
                    <span class="redbold bold">Purchase date</span>
                </div>
                <div class="cell" style="width: 150px">
                    <span class="redbold bold">Order status</span>
                </div>
                <div class="cell" style="width: 120px">
                    <span class="redbold bold">Total amount</span>
                </div>
                <div class="cell" style="width: 100px">
                    <span class="redbold bold">Details...</span>
                </div>
            </div>
            @foreach (var orderSummery in Model.Orders)
            {
                <div class="row" style="height: 18px">
                    <div class="cell">
                        @orderSummery.OrderNumber
                    </div>
                    <div class="cell">
                        @orderSummery.PurchaseDate
                    </div>
                    <div class="cell">
                        @orderSummery.Status
                    </div>
                    <div class="cell">
                        @orderSummery.TotalPrice
                    </div>
                    <div class="cell">
                        @Html.ActionLink("Details...", "OrdersStatus", "Checkout", new { orderNumber = orderSummery.OrderNumber }, null)
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <span class="redbold">You have no orders with JewelryONet.</span>
    }
</div>
<div class="rounded-white-container top20 padding10">
    <span class="right"><a href="#EditCustomerDetails" class="boxy" title="Update customer details">
        Update Details</a></span>
    <div class="clear">
    </div>
    <h3>
        My Personal Details</h3>
    <div class="details-listing">
        <span class="title">Your Email: </span><span class="redbold inline bold">@Model.Email</span>
        <div class="clear">
        </div>
        <span class="title">Your Name: </span><span class="redbold inline bold">@Model.FirstName
            @Model.LastName</span>
        <div class="clear">
        </div>
        @if (!Model.HasAddressInformation)
        {
            <span>Address:</span>
            <span>City:</span>
			
            <span>Country: <span class="redbold inline bold">@Model.Country</span></span>
            <span>State: <span class="redbold inline bold">@Model.State</span></span>
            <span>Zip code:</span>
            <span>Phone #: </span><span class="redbold inline bold">@Model.Phone</span>
        }
    </div>
    @if (Model.HasAddressInformation)
    {
        <div class="table width100 full-address-details top10">
            <div class="row">
                <div class="cell">
                    <span class="redbold bold">Billing Information:</span>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                First name:
                            </td>
                            <td>@Model.BillingAddress.FirstName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last name:
                            </td>
                            <td>@Model.BillingAddress.LastName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address:
                            </td>
                            <td>@Model.BillingAddress.Address1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City:
                            </td>
                            <td>@Model.BillingAddress.City
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Country:
                            </td>
                            <td>@Model.BillingAddress.Country
                            </td>
                        </tr>
                        <tr>
                            <td>
                                State:
                            </td>
                            <td>@Model.BillingAddress.State
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Zip code:
                            </td>
                            <td>@Model.BillingAddress.ZipCode
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone #:
                            </td>
                            <td>@Model.BillingAddress.Phone
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <span class="redbold bold">Shipping Information:</span>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                First name:
                            </td>
                            <td>@Model.ShippingAddress.FirstName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last name:
                            </td>
                            <td>@Model.ShippingAddress.LastName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address:
                            </td>
                            <td>@Model.ShippingAddress.Address1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City:
                            </td>
                            <td>@Model.ShippingAddress.City
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Country:
                            </td>
                            <td>@Model.ShippingAddress.Country
                            </td>
                        </tr>
                        <tr>
                            <td>
                                State:
                            </td>
                            <td>@Model.ShippingAddress.State
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Zip code:
                            </td>
                            <td>@Model.ShippingAddress.ZipCode
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone #:
                            </td>
                            <td>@Model.ShippingAddress.Phone
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<div class="rounded-white-container padding10 top20">
    <h3>
        My Account</h3>
    <div class="details-listing">
        <span class="title">Memeber sice: </span><span class="redbold inline bold">@Model.MemeberSince</span>
        <div class="clear">
        </div>
        <span class="title">Newsletter </span><span class="redbold inline bold">@Html.ActionLink("Sign me up", "Aweber", "Services")</span>
    </div>
</div>
<div id="EditCustomerDetails" class="hidden">
    @using (Html.BeginForm("UpdateCustomerDetails", "MyAccount"))
    {
    
        
            <fieldset class="onecolumb-form">
                        <legend>My Personal Details</legend>
                        <dl>
                            <dt>
                                <label for="Email">
                                    Email:</label></dt>
                            <dd>@this.TextBox(m => m.Email).Styles(width=>"250px") <span data-valmsg-replace="false"
                                data-valmsg-for="Email" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="FirstName">
                                    First name:</label></dt>
                            <dd>@this.TextBox(m => m.FirstName) <span data-valmsg-replace="false"
                                data-valmsg-for="FirstName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="LastName">
                                    Last name:</label></dt>
                            <dd>@this.TextBox(m => m.LastName) <span data-valmsg-replace="false" 
                                data-valmsg-for="LastName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        
                        </fieldset>
        
    
        <div class="table width100 top10 billing">
            <div class="row">
                <div class="cell billingaddress">
                    <fieldset class="onecolumb-form">
                        <legend>My Billing Address:</legend>
                        <dl>
                            <dt>
                                <label for="name">
                                    First name:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.FirstName) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.FirstName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Last name:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.LastName) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.LastName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Address:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.Address1) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.Address1" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    City:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.City) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.City" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Country:</label></dt>
                            <dd>@this.Select(x => x.BillingAddress.CountryID).Options(new SelectList(SelectSourceFactory.Countries, "Value", "Key"))
                                <span data-valmsg-replace="false" data-valmsg-for="BillingAddress.CountryID" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    State:</label></dt>
                            <dd>@this.Select(x => x.BillingAddress.StateID).Options(new SelectList(SelectSourceFactory.States, "Value", "Key"))
                                <span data-valmsg-replace="false" data-valmsg-for="BillingAddress.StateID" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Zip code:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.ZipCode) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.ZipCode" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Phone #:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.BillingAddress.Phone) <span data-valmsg-replace="false"
                                data-valmsg-for="BillingAddress.Phone" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                    </fieldset>
                </div>
                <div class="cell sep">
                </div>
                <div class="cell shippingaddress ">
                    <fieldset class="onecolumb-form">
                        <legend>My Shipping Address:</legend>
                        <dl>
                            <dt>
                                <label for="name">
                                    First name:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.FirstName) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.FirstName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Last name:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.LastName) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.LastName" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Address:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.Address1) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.Address1" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    City:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.City) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.City" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Country:</label></dt>
                            <dd>@this.Select(x => x.ShippingAddress.CountryID).Options(new SelectList(SelectSourceFactory.Countries, "Value", "Key"))
                                <span data-valmsg-replace="false" data-valmsg-for="ShippingAddress.CountryID" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    State:</label></dt>
                            <dd>@this.Select(x => x.ShippingAddress.StateID).Options(new SelectList(SelectSourceFactory.States, "Value", "Key"))
                                <span data-valmsg-replace="false" data-valmsg-for="ShippingAddress.StateID" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Zip code:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.ZipCode) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.ZipCode" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="name">
                                    Phone #:</label></dt>
                            <dd>@Html.TextBoxFor(m => m.ShippingAddress.Phone) <span data-valmsg-replace="false"
                                data-valmsg-for="ShippingAddress.Phone" class="field-validation-valid"></span>
                            </dd>
                        </dl>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="padding10 alignright">
            <input type="submit" value="Update details" class="top10 button" /></div>
	
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.boxy').boxy({
            title: 'Update customer details'
        });
    })

</script>
