@model JONMVC.Website.Models.Tabs.JewelInTabContainer

<div class="item left">
							<a href="@Url.RouteUrl("JewelryItem", new { id = Model.ID, nullableMediaSet = Model.MediaSet })">
								<img src="@Model.PictureURL"  alt="@Model.Description" />
                                @Html.Partial("InTabBuyNowButton")
							</a>
							@Html.RouteLink(Model.Description, "JewelryItem", new { id = Model.ID, nullableMediaSet = Model.MediaSet }, new { @class = "block top5" })
							<div class="top5">
								<a href="@Url.RouteUrl("JewelryItem", new { id = Model.ID, nullableMediaSet = Model.MediaSet })">
									<img src="/Content/images/tabs/item/make-offer.png" class="left" alt="3D Movie" />
								</a><span class="redprice right">@Model.Price</span>
							</div>
						</div>
