@using MvcContrib.FluentHtml;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    @Html.Partial("HeadersForLayout")
    @if (IsSectionDefined("FacebookHeaderTabs"))
    {
        @RenderSection("FacebookHeaderTabs")
							
    }
</head>
<body>
    <div>
        <div class="aligncenter">
            <div class="table  center pageSize">
                @Html.Partial("TopManuAndNavBar")
                <div id="MainTable" class="table alignleft">
                    <div class="row">
                        <div class="cell aligntop">
                            <div id="Search" class="table">
                                <div class="row">
                                    <div class="cell">
                                        @using (Html.BeginForm("Search", "Services"))
                                        { 
                                            @Html.TextBox("SearchTerm", null, new { placeholder = "Search here" }) 

                                            <input type="submit" class="button" value="Search"  />
								
							
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="table menucontainer alignleft">
                                <div class="row">
                                    <div class="cell">
                                        <ul>
                                            <li>Diamonds & Engagement </li>
                                            @if (IsSectionDefined("DiamondsMenu"))
                                            {
                                                @RenderSection("DiamondsMenu")
							
                                            }
                                            else
                                            {
                                                <li>@Html.ActionLink("Diamonds", "Diamonds", "Departments")</li>
                                            }
                                            @if (IsSectionDefined("EngagementRings"))
                                            {
                                                @RenderSection("EngagementRings")
							
                                            }
                                            else
                                            {
                                                <li>@Html.RouteLink("Engagement Rings", "ChooseSetting", new RouteValueDictionary()
                                                               {
                                                                   {"tabid","solitaire-settings"}
                                                               })</li>
                                            }
                                            @if (IsSectionDefined("WeddingAndWnniversaryMenu"))
                                            {
                                                @RenderSection("WeddingAndWnniversaryMenu")
							
                                            }
                                            else
                                            {
                                                <li>@Html.ActionLink("Wedding & Anniversary", "WeddingAndAnniversary", "Departments")</li>
                                            }
                                            <li>@Html.ActionLink("Design Your Own Ring", "Index", "JewelDesign")</li>
                                            <li>@Html.RouteLink("3D Animation Gallery", "3DGallery", new RouteValueDictionary()
                                                              {
                                                                  {"tabkey", "3d-gallery"},
																		 {"tabid", "gallery"},
                                                              })</li>
                                            <li class="last">@Html.ActionLink("FAQ", "FAQ", "Services")</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @{ Html.RenderAction("SpecialOffersBanner", "Tabs"); }
                            <div class="table menucontainer top5">
                                <div class="row">
                                    <div class="cell">
                                        <ul>
                                            <li>Fine Jewelry</li>
                                            @if (IsSectionDefined("DiamondJewelryMenu"))
                                            {
                                                @RenderSection("DiamondJewelryMenu")
							
                                            }
                                            else
                                            {
                                                <li>@Html.RouteLink("Diamond Jewelry", "Tabs", new RouteValueDictionary()
																	 {
																		 {"tabkey", "diamond-rings"},
																		 {"tabid", "engagement-rings"},
																		 {"page", 1},
																	 })</li>
                                            }
                                            @if (IsSectionDefined("GemstoneJewelryMenu"))
                                            {
                                                @RenderSection("GemstoneJewelryMenu")
							
                                            }
                                            else
                                            {
                                                <li>@Html.RouteLink("Gemstone Jewelry", "Tabs", new RouteValueDictionary()
																	 {
																		 {"tabkey", "gemstone-rings"},
																		 {"tabid", "engagement-rings"},
																		 {"page", 1},
																	 })</li>
                                            }
                                            <li>@Html.RouteLink("Special Offers", "SpecialOffers", new RouteValueDictionary()
                                                             {
                                                                 {"tabkey", "special-offers-items"},
																		 {"tabid", "special-offers"},
                                                             })</li>
                                            <li style="margin-top: 50px;"></li>
                                            <li class="bold">@Html.RouteLink("Best Offer Deals", "BestOffer", new RouteValueDictionary()
                                                            {
                                                                {"tabkey" , "best-offer-items"},
                                                                 {"tabid" , "offers"}
                                                                
                                                            })</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="SpecialOffers" class="top20">
                                <h1 class="block title">
                                    Special Offers</h1>
                                <h2 class="block explanation bold ">
                                    Sign up today and receive special offers and gift ideas</h2>
                                <form method="post" action="http://www.aweber.com/scripts/addlead.pl" target="_blank">
                                <input type="hidden" name="meta_web_form_id" value="835977868" />
                                <input type="hidden" name="meta_split_id" value="" />
                                <input type="hidden" name="listname" value="jewelryonet" />
                                <input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=video"
                                    id="redirect_1a50109bb3751b899fd5e7d6982c1eda" />
                                <input type="hidden" name="meta_adtracking" value="JewelryONet" />
                                <input type="hidden" name="meta_message" value="1" />
                                <input type="hidden" name="meta_required" value="name,email" />
                                <input type="hidden" name="meta_tooltip" value="" />
                                <fieldset>
                                @this.TextBox("name").Placeholder("Enter your name").Attr("data-val","true").Attr("data-val-required","")
                                
                                @this.TextBox("email").Placeholder("Enter your email").Attr("data-val", "true").Attr("data-val-required", "").Attr("data-val-email","").Class("top5")
                                <input type="submit" class="button top5" value="Sign up today" alt="Sign up today" /></fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="cell width10">
                        </div>
                        <div class="cell last-selector">
                            <div class="block">
                                <ul class="abovebar">
                                    <li>@Html.ActionLink("Free Worldwide Shipping", "Policy", "Services")</li>
                                    <li>@Html.ActionLink("30-DAY Return Policy", "Policy", "Services")</li>
                                    <li>@Html.ActionLink("Risk Free Online Shopping", "Policy", "Services")</li>
                                </ul>
                            </div>
                            <div class="clear">
                            </div>
                            <div class="table">
                                <div class="row">
                                    <div class="cell pathbar">
                                        @if (IsSectionDefined("PathBar"))
                                        {
                                            @RenderSection("PathBar")
                                        }
                                    </div>
                                </div>
                            </div>
                            @RenderBody()
                            @Html.Partial("Footer")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="MoviePlayerDiv" class="hidden">
        <div id="MoviePlayer">
        </div>
    </div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26262157-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
