<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<meta name="Description" content="@ViewBag.Description" />
<script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mvcfoolproof.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hoverIntent.minified.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Classes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/flowplayer-3.2.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/grid.locale-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jQueryExtentions.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.qtip-1.0.0-rc3.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.msg.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.center.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.rmzslider.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.boxy.js")" type="text/javascript"></script>
<link href="@Url.Content("/Content/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/blocks.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/jquery-ui-1.8.9.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/jquery.lightbox-0.5.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/prettyPhoto.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/jquery.msg.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/plugins/boxy.css")" rel="stylesheet" type="text/css" />

<link rel="icon"  type="image/png" href="/favicon.png" />