<div id="TopManu" class="alignright">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="/Content/images/skeleton/topmenu-bg.png" alt="JewelryONet – Designer of Fine Jewelry" /></a>
                    <div class="table right">
                        <div class="row">
                            @*                            <div class="cell">*@ @*                                בס"ד*@
                            @*                            </div>*@
                        </div>
                        <div class="row">
                            <div class="cell">
                                <ul>
                                    <li>@Html.ActionLink("Wish List", "Wishlist", "Services") </li>
                                    <li>@Html.ActionLink("Shopping Cart", "Shoppingcart", "Checkout")&#160;@{ Html.RenderAction("CartItemCount", "Checkout"); }
                                    </li>
                                    <li>@Html.ActionLink("Order Status", "CheckMyOrderStatus", "MyAccount")</li>
                                    <li>@{ Html.RenderAction("SigninTopManuLink", "MyAccount"); }</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row last-selector">
                            <div class="cell right">
                                <ul>
                                    <li style="padding-top: 3px;cursor: pointer" link="false" insidelink="false" onClick="this.newWindow = window.open('http://c.velaro.com/visitor/requestchat.aspx?siteid=10385&showwhen=inqueue', 'OnlineChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;"><a href="http://c.velaro.com/visitor/requestchat.aspx?siteid=10385&showwhen=inqueue" target="OnlineChatSoftware" onClick="this.newWindow = window.open('http://c.velaro.com/visitor/requestchat.aspx?siteid=10385&showwhen=inqueue', 'OnlineChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;">Live Help</a>
                                    </li>
                                    <li style="padding-top: 3px" link="true" insidelink="true">@Html.ActionLink("Contact Us", "GetInTouch", "Services", null, new { @title = "Contact us" })</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Navbar">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Diamonds", "Diamonds", "Departments")</li>
                        <li>@Html.ActionLink("Engagement Rings", "EngagementRings", "Departments")</li>
                        <li>@Html.ActionLink("Wedding & Anniversary", "WeddingAndAnniversary", "Departments")</li>
                        <li>@Html.RouteLink("Special Offers", "SpecialOffers", new RouteValueDictionary()
                                                             {
                                                                 {"tabkey", "special-offers-items"},
																		 {"tabid", "special-offers"},
                                                             })</li>
                        <li>@Html.ActionLink("Diamond Studs", "DiamondStuds", "Departments")</li>
                        <li>@Html.RouteLink("Gemstone Jewelry", "Tabs", new RouteValueDictionary()
																	 {
																		 {"tabkey", "gemstone-rings"},
																		 {"tabid", "engagement-rings"},
																		 {"page", 1},
																	 })</li>
                        <li>@Html.RouteLink("Best Offer Deals", "BestOffer", new RouteValueDictionary()
                                                            {
                                                                {"tabkey" , "best-offer-items"},
                                                                 {"tabid" , "offers"}
                                                                
                                                            })</li>
                    </ul>
                </div>