@using JONMVC.Website.Models.Checkout
@using JONMVC.Website.ViewModels.Views
@using MvcContrib.FluentHtml
@inherits MvcContrib.FluentHtml.ModelWebViewPage<JewelCartItemViewModel>
<div class="table item width100">
    <div class="row">
        <div class="cell">
            <img src="@ViewModel.Icon" />
        </div>
        <div class="cell">
            @if (!Model.NoActionLinkDispalyOnly)
            { 
                <div class="actions">
                    @Html.ActionLink("Add to wishlist", "AddToWishListRedirect", "JewelryItem", new { jewelID = Model.ID }, null)
                    @Html.RouteLink("Remove item", "ShoppingcartRemoveitem", new { cartid = ViewModel.CartID })
                </div>
            }
            <div class="width100 clear top5">
                <span class="left">Item number: @ViewModel.Itemnumber</span> <span class="right price">@ViewModel.Price</span>
                <span class="right">Price:</span>
                <div class="clear">
                </div>
            </div>
            <span class="top10">@ViewModel.Desciption</span>
            @this.Select(x => x.JewelSize).Options(new SelectList(SelectSourceFactory.RingSizes, "Key", "Value")).Class("jewelsize").Attr("cartid", Model.CartID)
            <span class="block"><a href="@Url.Action("FindYourRingSize", "JewelryItem")" title="Find my ring size" class="find-ring-size">Find my ring size</a></span>
        </div>
    </div>
</div>
